body {
  background: #000000;
  font: 12px/20px Verdana, Helvetica;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: Arial, Helvetica;
  padding: 10px;
  color:#666666;
  font-size: 30px;
  text-transform: uppercase;
}

label {
	display:block;
}

#canvas {
  border: 1px #cccccc solid;
  width: 400px;
  height: 800px;
  position: relative;
  overflow: hidden;
}

#environment {
  position: absolute;
  width: 2000px;
  height: 2000px;
  background: url(../images/aerial.jpg);
}

/**
 * Unit styling
 */
.unit {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.avatar {
  width:  20px;
  height: 20px;
  margin: 1px;
}

.player .avatar {
  background: url(../images/marine_static.png);
}

.monster .avatar {
  background: url(../images/monster_static.png);
}


.animateAvatar {
  background: url(../images/marine.gif) !important;
}

.health {
  height: 2px;
  background-color: #00ff00;
  margin: 1px;
  width: 100%;
}

.death {
  animation: fadeoutstutter 2s linear forwards;
}

/**
 * Map styling
 */

.gridsquare {
	width: 20px;
	height: 20px;
	float: left;
	opacity: 0.5;
	border: 1px #000000 solid;
}

.terrain-grass {
	background: #006600;
}

.terrain-wall {
	background: #999999;
}

.terrain-tree {
	background: #00CC66 url(../images/tree.gif);
}

/**
 * Combat CSS
 */
.hitmarker {
  transition: opacity 1s;
  animation: fadeinout 2s linear forwards;
  color: #ffffff;
  text-align: center;
  width: 75px;
  position: absolute;
  left: -27px;
}

/**
 * Animations
 */
@keyframes fadeinout {
  0% { 
    opacity: 0; 
    bottom: 20px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 75px;
  }
}

@keyframes fadeoutstutter {
  0% { 
    opacity: 1; 
  }
  5% { 
    opacity: 0.5; 
  }
  10% { 
    opacity: 1; 
  }
  15% { 
    opacity: 0.5; 
  }
  20% { 
    opacity: 1; 
  }
  100% {
    opacity: 0;
  }
}
